* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0e0e0e;
  color: white;
}

.topo {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.topo.scrolled {
    background-color: #0e0e0e;
    transition: ease-in-out 0.3s;
}

.topo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 80px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    position: absolute;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: red;
    transition: 0.3s;
}

.menu a:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    left: 0;
    background: #111;
    border-radius: 8px;
    list-style: none;
    padding: 10px 0;
    min-width: 180px;
    display: none;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li:hover {
    background: red;
}

.dropdown-menu a {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.arrow {
    display: inline-block;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    padding: 3px;
    margin-left: 6px;
    margin-bottom: 2px;
    transform: rotate(45deg);
}

.login {
    border: 1px solid red;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.login:hover {
    background: red;
}

.cadastrar {
    margin-left: 10px;
    border: 1px solid red;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.cadastrar:hover {
    background-color: red;
}

.container {
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin-bottom: 150px;
}

.form-card {
    border: 1px solid red;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.form-card h2 {
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

input, select, textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.2s;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: red;
    box-shadow: 0 0 5px rgba(0,168,107,0.3);
}

textarea {
    resize: none;
    height: 100px;
}

.row {
    display: flex;
    gap: 15px;
}

.row .form-group {
    flex: 1;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: darkred;
}

.main-footer {
    background: #0a0a0a;
    padding: 60px 20px;
}

.container-footer {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.col-footer h4 {
    margin-bottom: 15px;
}

.col-footer li {
    list-style: none;
    margin: 8px 0;
    font-size: 14px;
    color: #aaa;
    cursor: pointer;
}

.col-footer li:hover {
    color: red;
}

.dor-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.pagamento img {
    height: 35px;
    margin-right: 10px;
}

.icons {
    margin-top: 10px;
    display: flex;
}

.icons i {
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.icons i:hover {
    color: red;
}

.barra {
    border-top: 1px solid red;
    text-align: center;

    margin-top: 30px;
    color: #aaa;
}


.logo-footer img {
    height: 110px;
}